h1,h2{
    /* Estilização dos títulosgit push origin main */
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

p{
    /* estilização do paragrafo */
    font-family:Arial;
    font-size: larger;
}

.container {
    /* estilização principal de todas as div box que estão dentro da classe container */
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
    margin-top: 20px;
}
.box {
    /* estilização do tamanho, posição e cor das divs que pertencem a classe box */
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 16px;
    width: 80%; /* Largura da div */
    text-align: center;
    background-color: #474747;
}
.box img {
    /* tamanho e borda das imagens dentro da classe box */
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.iconNav {
    /* tamanho do icon presente na navBar */
    width: 50px; 
    height: auto;
    margin: 5px; 
}