main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Ajuste para ocupar a altura restante */
    padding: 20px;
}

.login-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: auto;
}