<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Leonardo Morari e Nicolas Gustavo">
  <link rel="stylesheet" href="../Styles/geral.css">
  <link rel="stylesheet" href="../Styles/login.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Login</title>
</head>

<body>
  <!-- Tela de Login-->
  <div class="container">
    <div class="img-container">
      <img src="../Img/Drinks.png" alt="imagem de um drink">
    </div>
    <div class="container-form">
      <p><i class="fa-solid fa-martini-glass-citrus fa-xl" style="color: #000;"></i> Realize o seu <span>Login</span></p>
      <form class="input-group" id="loginForm">
        <input type="text" name="usuario" id="usuario" placeholder="Usuário" required>
        <input type="password" id="senha" name="password" placeholder="Senha" required>
        <button type="submit">Logar</button>
        <p id="error" class="error-message"></p>
      </form>
    </div>
  </div>
  <script src="../js/login.js"></script>
</body>

</html>