<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="head">
            <nav class="navbar">
                <img id="logo" src="../public/images/logo.png">
                <a href="/app/Views/index.html">Home</a>
                <a href="/app/Views/feminino.html"">Feminino</a>
                <a href="/app/Views/masculino.html">Masculino</a>
                <form class="search-bar" action="/search.js">
                    <input id="search" type="text" placeholder="Buscar"/>
                    <button id="botao" type="submit">⌕</button>
                </form>
                <a href="/app/Views/login.html">Login</a>
                <a id="carrinho" onclick="toggleCart()">Carrinho</a>
            </nav>
        </nav>
        <div id="cart" class="cart">
            <h2>Itens</h2>
            <div class="item">
                    <img src="../public/images/shirt.png"><p>Camiseta butterfly</p>
            </div>
        </div>
    </header>
    <main class="main">
        <section id="novidades">
            <img id="banner" src="../public/images/banner.png">
        </section>
    </main>
    <footer claas="footer">
        <p>Projeto desenvolvido po Giovanna Gutierrez e Bruno Gabriel N. Veiga.</p>
    </footer>
    <script src="../public/carrinho.js"></script>
</body>
</html>