<!DOCTYPE html>
<html class="html-login" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/public/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav class="head">
            <nav class="navbar">
                <img id="logo" src="../public/images/logo.png">
                <a href="/app/Views/index.html">Home</a>
                <a href="/app/Views/feminino.html"">Feminino</a>
                <a href="/app/Views/masculino.html">Masculino</a>
                <form class="search-bar" action="/search.js">
                    <input id="search" type="text" placeholder="Buscar"/>
                    <button id="botao" type="submit">⌕</button>
                </form>
                <a href="/app/Views/login.html">Login</a>
                <a id="carrinho" onclick="toggleCart()">Carrinho</a>
            </nav>
        </nav>
    <section class="form-container">
        <img id="login-img" src="/app/public/images/roupalogin.jpg"/>
        <section id="login-form" class="form">
            <h2>Log in</h2>
            <form action="/autenticar" method="get">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="senha" name="senha" placeholder="Password" required>
                <button id="login-bn" type="submit">Log in</button>
            </form>
            <p>Não é cadastrado? <a href="#" id="switch-to-signup">Cadastre-se Agora!</a></p>
        </section>

        <section id="signup-form" class="form hidden">
            <h2>Crie uma conta</h2>
            <form action="/cadastrar" method="get">
                <input type="text" id="name" name="nome" placeholder="First Name" required>
                <input type="text" id="last" name="last" placeholder="Last Name" required>
                <input type="email" id="emailCadastro" name="email" placeholder="Email" required>
                <input type="password" id="senhaCadastro" name="senha" placeholder="Password" required>
                <button type="submit">Criar Conta</button>
            </form>
            <p>Possuí uma conta?<a href="#" id="switch-to-login">Login</a></p>
        </section>
    </section>
    <script src="/app/public/login.js"></script>
</body>
</html>