/* Estilização da pagina Principal do site*/


body{
  background-color: #000;
}

header{
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: end;
  gap: 10px;
  padding: 10px;
  
}

.msg-logout{
font-size: 20px;
}

.btn-logout{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;

}

.principal{
  display: block;
  font-size: 55px;
  width: 13ch;
  font-weight: 700;
  border-right: 5px solid #000000; 
  white-space: nowrap; 
  overflow: hidden; 
  animation: mark .5s step-end infinite, write 6s steps(13, end);
}

@keyframes mark{
  50%{
    border-right-color: transparent;
  }

}

@keyframes write{
  0%{
    width: 0;
  }

  20%{
    width: 13ch;
  }

  70%{
    width: 13ch;
  }

  85%{
    width: 13ch;
  }


}


p{
  font-size: 30px;
  font-weight: 400;
}

.principal span{
  color: #fff;
  background-color: #000;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.btn-registra{
  padding: 10px;
  border-radius: 24px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  
 
}

.btn-registra:hover{
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}



.img-container img{
  height: 50vh;
}

.container-2{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  background-color: #000;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title p{
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

.title span{
  color: #000;
  background-color: #fff;
  padding: 6px;
  font-weight: 700;
  border-radius: 5px;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.cards{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #f9f9f9);
  margin-bottom: 20px;
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.cards:hover{
  transform: scale(1.05);
}


@keyframes appear{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}


.cards-header{
  width: 300px;
  height: 270px;
}

.cards-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  
}

.cards-body p{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.card-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.card-btn button{
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border: 1px solid #000;
  cursor: pointer;
}

.card-btn button:hover{
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 768px) {
  
  .container-1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .container-1 p {
    text-align: center;
  }

  .container-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
   
  }

  .text-container {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .card-container {
    flex-direction: column;
  }

  .cards {
    max-width: 90%;
  }

  header{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
  }
  
  footer p{
    display: none;
  
  }
  
 

}

@media (max-width: 480px) {
  .text-container p {
    font-size: 0.9rem;
  }

  .card-body p {
    font-size: 1rem;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}
