/* CSS Moderno para Café Elegante */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c69c6d, #eacda3); /* Tons de café */
    color: #c3c1c1;
}

header {
    background-color: #4e342e; /* Marrom escuro */
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    background: url('https://agroadvance.com.br/wp-content/uploads/2023/07/cafe-arabica.png') no-repeat center center/cover;
    background-blend-mode: multiply;
    background-color: rgba(78, 52, 46, 0.7); /* Sobreposição marrom escuro */
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a0522d; /* Marrom cacau */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8b4513; /* Marrom mais escuro */
}

.about {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(78, 52, 46, 0.7); /* Sobreposição marrom escuro */
}

footer {
    background-color: #4e342e; /* Marrom escuro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer address {
    margin: 0;
    font-style: normal;
}
